body{
    margin: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    width: 100vw;
    background-image: url(img/background-header.jpg);
    position: fixed;
    height: 10vh;
    flex-wrap: wrap;
    justify-content: flex-start;
}

header div h1{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 28pt;
    margin: 20px 0 0 20px;
}

header a{
    text-decoration: none;
    display: none;
}

.principal{
    margin-top: 10vh;
    width: 100vw;
    max-width: 500px;
}

#segunda{
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
}

.botao1{
    display: block;
    background-image: url(img/botao-fb.png);
    width: 60px;
    height: 80px;
    background-color: white;
    border: none;
    margin: 0 10px;
}

.botao2{
    display: block;
    background-image: url(img/botao-ig.png);
    width: 80px;
    height: 80px;
    background-color: white;
    border: none;
    margin: 0 10px;
}

.botao3{
    display: block;
    background-image: url(img/botao-wpp.png);
    width: 70px;
    height: 80px;
    background-color: white;
    border: none;
    margin: 0 10px;
}